.board {
  height: 100%;
  width: 10rem;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.score {
  margin-bottom: auto;
  color: whitesmoke;
}

.shoot-button {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: red;
  border-radius: 50%;
}

.angle-button {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    background-color: whitesmoke;
  }
}
