.screen {
  height: 100%;
  flex: 1 1 auto;
  background-color: rgb(53, 64, 209);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.floor {
  width: 100%;
  height: 10rem;
  background-color: rgb(14, 97, 34);
}

.grid {
  width: 800px;
  height: 400px;
  position: relative;
  transform: scaleY(-1);
}

h1 {
  transform: scaleY(-1);
  text-align: center;
  margin-top: 180px;
}

.direction {
  position: absolute;
  top: -1px;
  width: 10rem;
  border-top: 1px black dashed;
  transform: rotate(26.57deg);
  transform-origin: left;
}
